.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none !important;
}
.panel-title
{
	font-size: 14px;
	line-height: 20px;
}
.panel-heading-controls
{
	margin-top: -2px;
	margin-bottom: -200px;
	float: right;
}
.btn-panel
{
	background-color:#f3818d;
	color:white;
	font-size: 11px;
	line-height: 12px;
	padding: 4px 7px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	margin: 0 5px;
	border:none;
}
.btn-panel:hover,.btn-panel-big
{
	opacity: 0.9;
}

.btn-panel-big
{
	background-color: #39393d;
	color: white;
	font-size: 15px;
	line-height: 12px;
	padding: 6px 10px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	margin-top:10px;
	border: none;
}

.panel .panel-body
{
	margin: 0;
	padding: 20px;
	
}
.panel .panel-body:before
{
	content: " ";
	display: table;
}
.panel .panel-body .location
{
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 -20px;
}
.location:before
{
	content: " ";
	display: table;
}
.location
{
	padding: 8px 0;
	position: relative;
	margin: 0 -20px;
	padding-left: 20px;
	padding-right: 20px;
}
.location+.location
{
	border-top: 1px solid;
	border-top-color: #e4e4e4;
}
.location-title
{
	color: #444;
	text-decoration: none;
	float: none;
	overflow: hidden;
	display: block;
	line-height: 21px;
}
.location-title span
{
	display: inline-block;
	color: #aaa;
	margin-left: 5px;
	font-size: 12px;
	font-style: italic;
}
.location-address
{
	color: #aaa;
	font-style: italic;
}
.location-price
{
	color: #333;
	font-weight: bold;
}
.location:after
{
	clear:both;
	content: " ";
	display: table;
}